#titulo{ /* Para colocar un estilo a un determinado ID es necesario utilizar # seguido del ID*/
    font-style: italic; color: rgb(205, 46, 46); 
}
.texto{ /* Para colocar un estilo a una clase es necesario poner . seguido del nombre de la clase*/
    font-size: xx-large; font-family: 'Times New Roman', Times, serif; font-style: normal; color: rgb(181, 139, 224);
}
/* También se pueden utilizar los selectores como <body> <Title> <h1> <p> <div> y combinaciones de los mismos*/
div p {
    font-size: x-large; font-family: Arial, Helvetica, sans-serif; font-variant: small-caps; color: yellowgreen;
}
div h2, div h3 { /* Permite aplicar estilos a los hijos <h2> de los <div> y así con cualquier selector*/
    color: steelblue;
}
*{ /* "*" Permite seleccionar todo y aplicar el estilo deseado siempre y cuando el selector no haya sido definido anteriormente*/
    font-size: 12px;
}
.color { /* Convención hexagesimal para color fff para blanco 000 para negro...*/
    /* color de la fuente */
    color: black; 
    /* Estilo y color del borde */
    border-style: double; border-color: rgb(17, 167, 89);
    /* Curvatura del borde */
    border-radius: 5px;
    /* Ancho del borde */
    border-width: 5px;

    /* color: #000000; */
    /* border: 5px blueviolet double; dashed: rayas, dotted: puntos, solid: solidos */
    /* double, groove, ridge, inset, outset, none, hidden*/
}
/*
.color {
    color: rgb(0, 0, 255); Esto sería azul en la convención RGB
}
*/
#fondo {
    /* color del fondo del texto, rgba sirve para colocar una transparencia al fondo 0 = transparete y 1 = sólido*/
    background-color: rgba(0, 0, 0, .3);
    /* Opacidad del texto donde 1 es opaco y 0 es transparente */
    opacity: 1; 
    /* Utilizar una imágen de fondo */
    background-image: url(THM.jpg);
    background-size: cover;
    /* Asignar una altura a la imágen */
    height: 1000px; 
    /* Tamaño del fondo */
    background-size:200px 200px; 
    /* Repetir fondo en la dirección x o y */
    background-repeat: repeat-y; 
    /* Definir desde donde se repite el fondo */
    background-position: center top;
}
.margen{
    background-color: chocolate;
    /* Espacio fuera del margen, el orden es arriba, derecha, abajo, izquierda */
    margin: 10px 10px 10px 40px;
    /* Espacio dentro del margen  */
    padding: 10px 10px 40px 10px;
    /* Estilo del borde con color, ancho y radio */
    border-style: outset; border-color: slateblue; border-radius: 5px; border-width: 5px;
}
.align{
    /* Tamaño de fuente */
    font-size: 24px;
    /* Ancho de fuente */
    font-weight: bold;
    /* Tipo de fuente */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Color de fondo */
    background-color: rgb(255, 255, 255);
    /* Delineado fuera del fondo */
    outline-style: inset; outline-width: 5px; outline-color: rgb(14, 140, 140); 
    /* Alineado de texto y subrayado */
    text-align: center; text-decoration: underline;
    /* añadir sombras, (derecha, abajo, difuminado, color) */
    text-shadow: 2px 2px 5px rgb(233, 0, 0);
}
a:link {
    color:steelblue; 
}
a:visited {
    color: blue;
}
a:hover {
    color: slateblue;
}
a:active {
    color: rgb(233, 0, 0);
}
ul {
    /* color de fondo de un elemento tipo lista */
    background-color: yellow;
    /* tipo de puntos, en este caso son cuadrados, redondos sólidos = Default */
    list-style-type: square;
    /* el padding es para quitar las viñetas */
    /* padding-left: 0px; */
    
}
